@font-face {
  font-family: 'pt_sans_regular';
  src: url("../font/PT_Sans-Web-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans_italic';
  src: url("../font/PT_Sans-Web-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans_bold_italic';
  src: url("../font/PT_Sans-Web-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans_bold';
  src: url("../font/PT_Sans-Web-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_sans';
  src: url("../font/DroidSans.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_sans_bold';
  src: url("../font/DroidSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'socialicoregular';
  src: url("../font/socialico-webfont.eot");
  src: url("../font/socialico-webfont.eot?#iefix") format("embedded-opentype"), url("../font/socialico-webfont.woff") format("woff"), url("../font/socialico-webfont.ttf") format("truetype"), url("../font/socialico-webfont.svg#socialicoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 91, ../sass/style.css.scss */
body {
  font: 100% "droid_sans", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #1e1f20;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100% !important;
  line-height: 24px;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  overflow-x: hidden !important;
}

/* line 107, ../sass/style.css.scss */
html {
  width: auto !important;
  overflow-x: hidden !important;
}

/* line 116, ../sass/style.css.scss */
.social-font-name {
  font-family: "socialicoregular";
}

/* line 119, ../sass/style.css.scss */
.large-font-name {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 122, ../sass/style.css.scss */
.bold-font-name {
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif !important;
}

/* line 125, ../sass/style.css.scss */
.paragraph-font-name {
  font-family: "droid_sans", Helvetica, Arial, sans-serif;
}

/* line 129, ../sass/style.css.scss */
.primary-text-color {
  color: #1e1f20 !important;
}
/* line 131, ../sass/style.css.scss */
.primary-text-color p {
  color: #1e1f20 !important;
}

/* line 136, ../sass/style.css.scss */
.gray-text-color {
  color: #999999 !important;
}
/* line 138, ../sass/style.css.scss */
.gray-text-color p {
  color: #999999 !important;
}

/* line 143, ../sass/style.css.scss */
.secondary-text-color {
  color: #19a885 !important;
}
/* line 145, ../sass/style.css.scss */
.secondary-text-color p {
  color: #19a885 !important;
}

/* line 152, ../sass/style.css.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 155, ../sass/style.css.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 24px;
  color: #1e1f20;
}

/* line 161, ../sass/style.css.scss */
h1 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 164, ../sass/style.css.scss */
h2 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 167, ../sass/style.css.scss */
h3 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 170, ../sass/style.css.scss */
h4 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 173, ../sass/style.css.scss */
h5 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 176, ../sass/style.css.scss */
h6 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 179, ../sass/style.css.scss */
p {
  font-family: "droid_sans", Helvetica, Arial, sans-serif;
  color: #666;
}

/* line 184, ../sass/style.css.scss */
p {
  font-size: 1em;
  line-height: 24px;
}

/* line 185, ../sass/style.css.scss */
h1 {
  font-size: 2.5em;
  line-height: 48px;
}

/* line 186, ../sass/style.css.scss */
h2 {
  font-size: 1.375em;
  line-height: 36px;
}

/* line 187, ../sass/style.css.scss */
h3 {
  color: #999999;
  line-height: 48px;
}

/* line 191, ../sass/style.css.scss */
h4 {
  font-size: 1.4em;
  line-height: 24px;
}

/* line 192, ../sass/style.css.scss */
h5 {
  font-size: 1em;
  line-height: 24px;
}

/* line 193, ../sass/style.css.scss */
h6 {
  font-size: 0.9em;
  line-height: 24px;
}

/* line 195, ../sass/style.css.scss */
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 201, ../sass/style.css.scss */
.section-header {
  border-bottom: 1px solid #999999;
  margin-bottom: 24px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

/* line 211, ../sass/style.css.scss */
.text-columns-2 {
  -webkit-columns: 24px 2;
  -moz-columns: 24px 2;
  columns: 24px 2;
}

/* line 214, ../sass/style.css.scss */
.text-columns-3 {
  -webkit-columns: 24px 3;
  -moz-columns: 24px 3;
  columns: 24px 3;
}

/* line 217, ../sass/style.css.scss */
.text-columns-4 {
  -webkit-columns: 24px 4;
  -moz-columns: 24px 4;
  columns: 24px 4;
}

/* line 221, ../sass/style.css.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 228, ../sass/style.css.scss */
.bold-font-name {
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif;
}

/* line 231, ../sass/style.css.scss */
.paragraph-font-name {
  font-family: "droid_sans", Helvetica, Arial, sans-serif;
}

/* line 237, ../sass/style.css.scss */
small {
  line-height: 2px;
}

/* line 241, ../sass/style.css.scss */
hr {
  border-color: #999999;
}

/* line 247, ../sass/style.css.scss */
.relative {
  position: relative;
}

/* line 251, ../sass/style.css.scss */
.hidden {
  display: none;
}

/* line 255, ../sass/style.css.scss */
.base-line-height {
  line-height: 24px;
}

/* line 259, ../sass/style.css.scss */
.left {
  float: left;
}

/* line 262, ../sass/style.css.scss */
.right {
  float: right;
}

/* line 266, ../sass/style.css.scss */
.full-width {
  width: 100% !important;
}

/* line 270, ../sass/style.css.scss */
.display-block {
  display: block;
}

/* line 274, ../sass/style.css.scss */
.inline-block {
  display: inline-block;
}

/* line 278, ../sass/style.css.scss */
.inline {
  display: inline;
}

/* line 282, ../sass/style.css.scss */
ul.inline {
  list-style: none;
  margin-left: 0;
}
/* line 285, ../sass/style.css.scss */
ul.inline li {
  display: inline-block;
  padding: 0 5px;
}

/* line 294, ../sass/style.css.scss */
.border-top {
  border-right: 1px solid #999999;
}

/* line 297, ../sass/style.css.scss */
.border-right {
  border-right: 1px solid #999999;
}

/* line 300, ../sass/style.css.scss */
.border-bottom {
  border-bottom: 1px solid #f9fafb;
}

/* line 303, ../sass/style.css.scss */
.border-left {
  border-left: 1px solid #999999;
}

/* line 309, ../sass/style.css.scss */
.margin-auto {
  margin: 0 auto;
}

/* line 312, ../sass/style.css.scss */
.margin {
  margin: 24px !important;
}

/* line 315, ../sass/style.css.scss */
.margin-top {
  margin-top: 24px !important;
}

/* line 318, ../sass/style.css.scss */
.margin-right {
  margin-right: 24px !important;
}

/* line 321, ../sass/style.css.scss */
.margin-bottom {
  margin-bottom: 24px !important;
}

/* line 324, ../sass/style.css.scss */
.margin-left {
  margin-left: 24px !important;
}

/* line 327, ../sass/style.css.scss */
.double-margin-top {
  margin-top: 48px !important;
}

/* line 330, ../sass/style.css.scss */
.double-margin-right {
  margin-right: 48px !important;
}

/* line 333, ../sass/style.css.scss */
.double-margin-bottom {
  margin-bottom: 48px !important;
}

/* line 336, ../sass/style.css.scss */
.double-margin-left {
  margin-left: 48px !important;
}

/* line 339, ../sass/style.css.scss */
.triple-margin-top {
  margin-top: 72px !important;
}

/* line 342, ../sass/style.css.scss */
.triple-margin-right {
  margin-right: 72px !important;
}

/* line 345, ../sass/style.css.scss */
.triple-margin-bottom {
  margin-bottom: 72px !important;
}

/* line 348, ../sass/style.css.scss */
.triple-margin-left {
  margin-left: 72px !important;
}

/* line 351, ../sass/style.css.scss */
.half-margin-top {
  margin-top: 12px !important;
}

/* line 354, ../sass/style.css.scss */
.half-margin-right {
  margin-right: 12px !important;
}

/* line 357, ../sass/style.css.scss */
.half-margin-bottom {
  margin-bottom: 12px !important;
}

/* line 360, ../sass/style.css.scss */
.half-margin-left {
  margin-left: 12px !important;
}

/* line 363, ../sass/style.css.scss */
.quarter-margin-top {
  margin-top: 6px !important;
}

/* line 366, ../sass/style.css.scss */
.quarter-margin-right {
  margin-right: 6px !important;
}

/* line 369, ../sass/style.css.scss */
.quarter-margin-bottom {
  margin-bottom: 6px !important;
}

/* line 372, ../sass/style.css.scss */
.quarter-margin-left {
  margin-left: 6px !important;
}

/* line 375, ../sass/style.css.scss */
.no-margin {
  margin: 0px !important;
}

/* line 378, ../sass/style.css.scss */
.no-margin-top {
  margin-top: 0px !important;
}

/* line 381, ../sass/style.css.scss */
.no-margin-right {
  margin-right: 0px !important;
}

/* line 384, ../sass/style.css.scss */
.no-margin-bottom {
  margin-bottom: 0px !important;
}

/* line 387, ../sass/style.css.scss */
.no-margin-left {
  margin-left: 0px !important;
}

/* line 390, ../sass/style.css.scss */
.large-margin-top {
  margin-top: 72px !important;
}

/* line 395, ../sass/style.css.scss */
.padded {
  padding: 24px !important;
}

/* line 398, ../sass/style.css.scss */
.padding-top {
  padding-top: 24px !important;
}

/* line 401, ../sass/style.css.scss */
.padding-right {
  padding-right: 24px !important;
}

/* line 404, ../sass/style.css.scss */
.padding-bottom {
  padding-bottom: 24px !important;
}

/* line 407, ../sass/style.css.scss */
.padding-left {
  padding-left: 24px !important;
}

/* line 410, ../sass/style.css.scss */
.double-padded {
  padding: 48px !important;
}

/* line 413, ../sass/style.css.scss */
.double-padding-top {
  padding-top: 48px !important;
}

/* line 416, ../sass/style.css.scss */
.double-padding-right {
  padding-right: 48px !important;
}

/* line 419, ../sass/style.css.scss */
.double-padding-bottom {
  padding-bottom: 48px !important;
}

/* line 422, ../sass/style.css.scss */
.double-padding-left {
  padding-left: 48px !important;
}

/* line 425, ../sass/style.css.scss */
.triple-padding-top {
  padding-top: 72px !important;
}

/* line 428, ../sass/style.css.scss */
.triple-padding-right {
  padding-right: 72px !important;
}

/* line 431, ../sass/style.css.scss */
.triple-padding-bottom {
  padding-bottom: 72px !important;
}

/* line 434, ../sass/style.css.scss */
.triple-padding-left {
  padding-left: 72px !important;
}

/* line 437, ../sass/style.css.scss */
.no-padding {
  padding: 0px !important;
}

/* line 440, ../sass/style.css.scss */
.no-padding-top {
  padding-top: 0px !important;
}

/* line 443, ../sass/style.css.scss */
.no-padding-right {
  padding-right: 0px !important;
}

/* line 446, ../sass/style.css.scss */
.no-padding-bottom {
  padding-bottom: 0px !important;
}

/* line 449, ../sass/style.css.scss */
.no-padding-left {
  padding-left: 0px !important;
}

/* line 452, ../sass/style.css.scss */
.half-padding {
  padding: 12px !important;
}

/* line 455, ../sass/style.css.scss */
.half-padding-top {
  padding-top: 12px !important;
}

/* line 458, ../sass/style.css.scss */
.half-padding-right {
  padding-right: 12px !important;
}

/* line 461, ../sass/style.css.scss */
.half-padding-bottom {
  padding-bottom: 12px !important;
}

/* line 464, ../sass/style.css.scss */
.half-padding-left {
  padding-left: 12px !important;
}

/* line 467, ../sass/style.css.scss */
.quarter-padding {
  padding: 6px !important;
}

/* line 470, ../sass/style.css.scss */
.quarter-padding-top {
  padding-top: 6px !important;
}

/* line 473, ../sass/style.css.scss */
.quarter-padding-right {
  padding-right: 6px !important;
}

/* line 476, ../sass/style.css.scss */
.quarter-padding-bottom {
  padding-bottom: 6px !important;
}

/* line 479, ../sass/style.css.scss */
.quarter-padding-left {
  padding-left: 6px !important;
}

/* line 485, ../sass/style.css.scss */
.thumb-md {
  max-width: 200px;
}

/* line 489, ../sass/style.css.scss */
.thumb-sm {
  max-width: 70px;
}

/* line 496, ../sass/style.css.scss */
a {
  color: #1e1f20;
}
/* line 498, ../sass/style.css.scss */
a:hover {
  text-decoration: none;
}
/* line 501, ../sass/style.css.scss */
a.disabled {
  cursor: not-allowed;
  opacity: .5;
}

/* line 510, ../sass/style.css.scss */
.btn {
  text-decoration: none;
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 1em;
  color: white !important;
  padding: 12px 24px;
}
/* line 517, ../sass/style.css.scss */
.btn.btn-primary {
  background-color: white;
  border-color: #1b1b1c !important;
}
/* line 520, ../sass/style.css.scss */
.btn.btn-primary:hover {
  background-color: #47b99d !important;
}
/* line 524, ../sass/style.css.scss */
.btn.btn-gray {
  background-color: #898989;
  border-color: #7a7a7a !important;
}
/* line 527, ../sass/style.css.scss */
.btn.btn-gray:hover {
  background-color: #cccccc !important;
}
/* line 531, ../sass/style.css.scss */
.btn.btn-default {
  background-color: #19a885;
  border-color: #179f7e !important;
}
/* line 534, ../sass/style.css.scss */
.btn.btn-default i {
  opacity: .7;
}
/* line 537, ../sass/style.css.scss */
.btn.btn-default:hover {
  background-color: #158e71 !important;
}
/* line 539, ../sass/style.css.scss */
.btn.btn-default:hover i {
  opacity: 1;
}
/* line 544, ../sass/style.css.scss */
.btn.btn-wire {
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background-color: transparent !important;
}
/* line 548, ../sass/style.css.scss */
.btn.btn-wire:hover {
  border-color: white !important;
}

/* line 556, ../sass/style.css.scss */
section {
  padding: 24px 0;
}

/* line 563, ../sass/style.css.scss */
.panel.secondary-panel {
  background-color: #0c0c0c;
}
/* line 566, ../sass/style.css.scss */
.panel.secondary-panel .panel-body h1, .panel.secondary-panel .panel-body h2, .panel.secondary-panel .panel-body h3, .panel.secondary-panel .panel-body h4, .panel.secondary-panel .panel-body h5, .panel.secondary-panel .panel-body h6, .panel.secondary-panel .panel-body p {
  color: white;
}

/* line 577, ../sass/style.css.scss */
nav.main-nav {
  background-color: white;
  padding: 6px 0;
}
/* line 580, ../sass/style.css.scss */
nav.main-nav ul {
  margin-top: 8px;
}
/* line 582, ../sass/style.css.scss */
nav.main-nav ul li {
  font-size: 1em !important;
  margin: 0 12px;
  margin-top: 12px;
}
/* line 586, ../sass/style.css.scss */
nav.main-nav ul li .btn {
  margin-top: 0px;
}
/* line 590, ../sass/style.css.scss */
nav.main-nav ul li.active a {
  background: none !important;
  color: black !important;
}
/* line 595, ../sass/style.css.scss */
nav.main-nav ul li a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 600, ../sass/style.css.scss */
nav.main-nav .btn {
  padding: 12px;
}

/* line 606, ../sass/style.css.scss */
.logo {
  width: 128px;
  height: 65px;
  background-image: url("../images/logo.png");
}

/* line 614, ../sass/style.css.scss */
section {
  padding: 192px 0;
}
/* line 617, ../sass/style.css.scss */
section.invert-section h1, section.invert-section h2, section.invert-section h3, section.invert-section h4, section.invert-section h5, section.invert-section h6, section.invert-section p, section.invert-section li, section.invert-section i {
  color: white;
}
/* line 621, ../sass/style.css.scss */
section#index-hero {
  background: url("../images/index_hero.png") no-repeat scroll center top;
  background-size: cover;
}
/* line 625, ../sass/style.css.scss */
section#about-hero {
  background: url('/images/about-hero.jpg?1391548108') no-repeat scroll center top;
  background-size: cover;
}

/* line 631, ../sass/style.css.scss */
footer ul li a {
  color: #999999;
}

/* line 635, ../sass/style.css.scss */
.bg-cover {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: center;
  height: 500px;
}

/* line 643, ../sass/style.css.scss */
blockquote {
  font-size: 1.375em;
  line-height: 36px;
  color: white;
  border-left: none;
}

/* line 650, ../sass/style.css.scss */
blockquote footer {
  color: white;
}

/* line 654, ../sass/style.css.scss */
a {
  color: #19a885;
}

/* line 658, ../sass/style.css.scss */
a:hover {
  color: #19a885;
  text-decoration: underline;
}

/* line 663, ../sass/style.css.scss */
.panel {
  border: 1px solid #f9fafb;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  border-radius: 0 !important;
}

/* line 670, ../sass/style.css.scss */
.panel a:hover {
  text-decoration: none;
}

/* line 674, ../sass/style.css.scss */
form p .label {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
  font-weight: inherit;
  font-size: 1.4em;
  line-height: 24px;
}

/* line 681, ../sass/style.css.scss */
.wpcf7-form-control {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
  font-weight: inherit;
  font-size: 1.4em;
  line-height: 24px;
}

/* line 688, ../sass/style.css.scss */
.wpcf7-submit {
  background-color: #19a885;
  border-color: #179f7e !important;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 1em;
  color: white !important;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 703, ../sass/style.css.scss */
.panel-secondary {
  min-height: 300px;
  border-radius: 0 !important;
  background-color: #f9fafb;
}

@media (max-width: 1199px) {
  /* line 717, ../sass/style.css.scss */
  nav.main-nav li a {
    padding: 15px 5px;
  }
}
